/* 
font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: normal; 
font-style: italic;*/

/* 
.bricolage-grotesque-<uniquifier> {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

:root {
    --cor-laranja: #ea8676;
    --cor-amarelo: #eab05e;
    --cor-laranjaAvermelhado: #d24858;
    --cor-vermelho: #920013;
    --cor-begeAvermelhado: #e9bcbc;
    --cor-bege: #fdeecd;
    --cor-marrom: #493831;
    --cor-borda: #000000;
    --cor-sombraLeve: hsla(0, 51%, 83%, 0.671);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-bege);
    color: var(--cor-verde);
    font-family: "Bricolage Grotesque", sans-serif;
    height: 100%;
    width: 100%;
}

header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    color: var(--cor-laranjaAvermelhado);
    margin-left: 25px;
}

nav {
    box-shadow:
        1px 2px 2px hsla(0, 78%, 73%, 0.514),
        2px 4px 4px hsla(0, 78%, 73%, 0.514);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 70%;
    background-color: var(--cor-begeAvermelhado);
}

nav a {
    text-decoration: none;
    color: var(--cor-vermelho);
    padding: 16px;
    width: 25%;
    font-size: large;
}

nav a:hover:not(.ativa) {
    background-color: var(--cor-vermelho);
    color: var(--cor-begeAvermelhado);
}

.ativa {
    background-color: var(--cor-vermelho);
    color: var(--cor-begeAvermelhado);
}

main {
    margin: 20px 10px;
    display: inline-block;
    align-items: center;
}

section#apresentacao {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px;
    min-height: 40vh;
    row-gap: 3px;
}

#containerApresentacao {
    position: relative;
    padding-top: 5px;
    border-top: 5px double var(--cor-vermelho);
}

p#meuP {
    margin-left: 5px;
    padding-bottom: 4px;
}

ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    list-style: number inside;
}

ol li::marker {
    font-weight: 600;
    color: var(--cor-begeAvermelhado);
}

ol li {
    padding: 5px 0px;
}

div#experiencia h3 {
    color: var(--cor-begeAvermelhado);
}

div#experiencia {
    background-color: var(--cor-laranjaAvermelhado);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 5px 0px 5px 15px;
    width: 80%;
    position: absolute;
    z-index: 9;
    left: 19vw;
}


div#formacao {
    left: 0;
    top: 1vh;
    position: absolute;
    padding: 5px 0px 0px 5px;
    border-left: 4px solid var(--cor-laranjaAvermelhado);
    border-bottom: 4px solid var(--cor-laranjaAvermelhado);
    border-top: 4px solid var(--cor-laranjaAvermelhado);
    width: 20vw;
}

img#ifrs {
    height: 6vh;
    width: 4vw;
}

img#fundatec {
    padding-bottom: 5px;
    height: 6vh;
    width: 10vw;
}

a#curriculo {
    color: var(--cor-vermelho);
    text-decoration: none;
    border: 2px solid var(--cor-vermelho);
    padding: 15px 20px;
    border-radius: 8px;
    background-color: var(--cor-begeAvermelhado);
    box-shadow:
        0px 0px 2px hsla(0, 100%, 50%, 0.699),
        0px 0px 4px hsla(0, 100%, 50%, 0.699),
        0px 0px 8px hsla(0, 100%, 50%, 0.699);
}

article{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
a#curriculo:hover {
    border: 2px solid var(--cor-amarelo);
    background-color: var(--cor-vermelho);
    color: var(--cor-bege);
    box-shadow:
        0px 0px 2px hsla(54, 100%, 50%, 0.699),
        0px 0px 4px hsla(54, 100%, 50%, 0.699),
        0px 0px 8px hsla(54, 100%, 50%, 0.699);
}


ul {
    list-style: none;
}

h3 {
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    color: var(--cor-laranjaAvermelhado);
}

section#habilidades {
    background-color: var(--cor-begeAvermelhado);
    box-shadow:
        1px 2px 2px hsla(0, 37%, 67%, 0.514),
        2px 4px 4px hsla(0, 37%, 67%, 0.514),
        4px 8px 8px hsla(0, 37%, 67%, 0.514),
        8px 16px 16px hsla(0, 37%, 67%, 0.514),
        16px 32px 32px hsla(0, 37%, 67%, 0.514);
    width: 100%;
    height: 50vh;
    padding: 10px 5px 0px;
}

section#habilidades h3 {
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
}

div#linguaguemProgramacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    padding-top: 6px;
    width: 70%;
    height: 85%;
    border-right: 6px ridge var(--cor-laranjaAvermelhado);
}

.linguaguem {
    display: inline-block;
    height: 45%;
    width: 30%;
    padding: 30px 10px 0px;
    border: 2px outset var(--cor-laranja);
    background-color: var(--cor-bege);
    box-shadow:
        1px 2px 2px hsla(219, 37%, 67%, 0.514),
        2px 4px 4px hsla(219, 37%, 67%, 0.514),
        4px 8px 8px hsla(219, 37%, 67%, 0.514),
        5px 10px 10px hsla(219, 37%, 67%, 0.514);
}

.linguaguem img {
    margin-right: 10px;
    float: left;
    height: 50%;
}

div#outrasHabilidades {}